* {
	box-sizing: border-box;
}

.first-map {
	width: 100%;
	height: 500px;
	// margin: 0 auto;
}

.map-view-container {
	width: 45%;
	margin-left: 5%;
}

.travel {
	font-size: 24px;
	width: 50%;
	height: auto;
	color: white;
	margin-bottom: 50px;
}

body{
	background-color: #BCEDFB;
	margin: 0;
}

#app-container {
	background: #BCEDFB;
	height: 100%;
}

img {
	width: 100%;
	display: block;
}

p {
	text-align: center;
	color: #aaa;
}

button {outline: none;}

.window {
	color: #D53C2C;
	font-weight: 200;
}

.window i {
	color: #000;
}

.home-view-container >* {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

.home-view-container {
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 50px;
	background: #ecf0f1;
	border: solid thick #fff;
	border-top: none;
}

.map-form-container h1{
	color: #D53C2C;
	text-align: center;
	font-size: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	margin-bottom: 25px;
	margin-top: 30px;
}

.map-form-container {
	margin-left: 5%;
	background-color: #fff;
	border: solid thick #D53C2C;
	border-radius: 10px;
	padding-bottom: 44px;
	width: 40%;
}

.register-container {
	background-image: url("../images/bike-flag.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 100px;
	border: #fff solid thick;
	border-top: none;
}

.input-form {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.input-form input {
	width: 45%;
	margin-top: 16px;
	padding: 12px;
	border-radius: 10px;
	font-size: 24px;
	font-weight: normal;
	color: #232D2F;
}

.dir-form input {
	width: 90%;
	margin-top: 8px;
	padding: 12px;
	border-radius: 10px;
	font-size: 24px;
	font-weight: normal;
	color: #232D2F;
}

.destination {
	margin-left: 2%;
}

.input-form button {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	margin-top: 16px;
	border-radius: 10px;
	border-color: #fff;
	background-color: #22313f;
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
	font-weight: lighter;
	color: #fff;
}

.savehaz {
	margin-left: 2%;
}

.saveroute {
	margin-left: 2%;
}

// .dir-btn button {
// 	width: 48%;
// 	padding: 12px;
// 	margin-top: 16px;
// 	border-radius: 10px;
// 	font-size: 22px;
// 	font-weight: normal;
// 	color: #006A55;
// 	// margin-left: 12px;
// }
.log-in-container{
	background-image: url("../images/bike-flag.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 250px;
	padding-bottom: 50px;
	border-bottom: #fff solid thick;
}

.login-form-container {
	margin-top: -150px;
}

.login-form {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.login-form button {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	margin-top: 16px;
	border-radius: 10px;
	border-color: #22313F;
	background-color: #fff;
	opacity: .9;
	font-size: 28px;
	font-weight: normal;
	font-family: 'Slabo 27px', serif;
	color: #22313F;
}

.login-form input {
	width: 70%;
	margin-top: 16px;
	padding: 12px;
	border-radius: 10px;
	border-color: #22313F;
	font-size: 28px;
	font-family: 'Slabo 27px', serif;
	font-weight: normal;
	color: #22313F;
	opacity: .9;
}

.drop-btn {
	color: #D53C2C;
	margin-top: 24px;
	margin-left: 10%;
	cursor: pointer;
}

.drop-btn:hover, .drop-btn:focus {
	background-color: #BCEDFB;
}

.nav-comp{
	position: relative;
}

.nav-animator{
	position: absolute;
	width: 80px;
	height: 80px;
	opacity: .7;
	transition: left .5s, opacity .001s;

	 &.position-start{
		 top: 0;
	 	 left: 0;
	 }

	 &.position-end{
		 bottom: 50%;
		 left: 100%;
	 }

	 &.not-visible{
		 opacity: 0;
	 }
}

.top-nav {
	width: 100%;
	background: #BCEDFB;
	border-bottom: #fff solid thick;
}

.top-nav >* {
	display: inline-block;
	vertical-align: baseline;
}

.top-nav h1 {
	color: #D53C2C;
	text-align: center;
	font-family: 'Bitter', serif;
	font-size: 60px;
	width: 70%;
}

.side-bar-nav {
	position: relative;
	display: inline-block;
}

.side-nav-content {
	display: none;
	position: absolute;
	background-color: #22313f;
	max-width: 20%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 16px;
	margin-left: 10%;
	border-radius: 10px;
}

.side-nav-content a {
	text-decoration: none;
	font-family: 'Slabo 27px', serif;
	font-weight: lighter;
	font-size: 24px;
	margin-top: 8px;
	color: #fff;
	display: block;
	cursor: pointer;
}

.show {
	display: block;
}

.log-in-container h2 {
	color: #F1F2E5;
	text-align: center;
	margin: -8px 0px;
	font-size: 52px;
	font-family: 'Slabo 27px', serif;
}

.logo {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

.profile-container {
	width: 100%;
	background-image: url("../images/maxi-corrado-140647.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.profile {
	width: 75%;
	margin: 0 auto;
}

.profile > * {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}

.profile-img {
	font-size: medium;
	width: 50%;
}

.profile-img h1 {
	text-align: center;
	color:  #D53C2C;
}

.profile-img img {
	background-color: #BCEDFB;
	width: 65%;
	margin: 10px auto;
	border: thick solid #D53C2C;
	border-radius: 10px;
}

.profile-info h1 {
	color: #D53C2C;
}

.profile-info i {
	color: #000;
}

.profile-info {
	font-size: medium;
	width: 50%;
	margin-top: 80px;
	border: solid thick #BCEDFB;
	border-radius: 10px;
	background-color: #fff;
	padding: 15px;
}

.rides-view-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 200px;
	background-image: url("../images/bike-flag.jpg");
	background-size: 80%;
	background-size: cover;
	background-position: center bottom;
	border: solid thick #fff;
	border-top: none;
}

.rides-list {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	// border: solid thick #BCEDFB;
	border-radius: 10px;
	opacity: .9;
	padding-bottom: 12px;
}

.rides-list h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color:  #D53C2C;
	font-size: 52px;
	opacity: 1;
}


.rides-list h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	margin-left: 5%;
	margin-bottom: 30px;
	color:  #D53C2C;
	font-size: 28px;
}

.rides-list h4 {
	color:  #D53C2C;
	font-weight: 200;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 5px;
}

.rides-list ul {
	width: 100%;
	list-style-type: none;
	color: white;
	margin-left: 5%;
}

.rides-list p {
	font-family: 'Bitter', serif;
	color: #22313F;
	text-align: left;
	margin-right: 0;
	margin-bottom: 10px;
	font-size: 16px;
}

.rides-list i {
	margin: 0 8px;
	color: #000;
}

.ride-btn {
	background-color: #D53C2C;
	border-style: none;
	border-radius: 2px;
	border: 1px solid #b33223;
	margin-right: 5px;
}

.ride-btn:hover {cursor: pointer;}

.ride-btn .fa-trash-o {
	color: #fff;
	font-size: 18px;
	margin: 0 4px;
}

.ride-btn .fa-arrow-circle-right {
	margin: 0 3px;
	color: #fff;
	font-size: 18px;
}

.reminder-container {
	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 100%;
 	height: 100%;
 	z-index: 100;
 	background: rgba(0, 0, 0, 0.3);
}

.reminder {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	text-align: center;
	background-color: #F7CA18;
	color: #D53C2C;
}

.reminder li {
	list-style: none;
	text-align: left;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 200;
}

.reminder .fa {
	margin-right: 5px;
}

.reminder .fa-lock {
	margin-right: 7px;
}

.reminder button {
	width: 45%;
	margin-bottom: 15px;
	padding: 10px;
	color: #fff;
	background-color: #22313F;
	font-size: 20px;
	border-style: none;
	z-index: 101;
}

.info-box__hidden {
	display: none;
}

.info-box {
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	font-family: 'Bitter', serif;
	top: 0;
	right: 0;
	background: #22313f;
	color: #fff;
}

.hazards-view-container >* {
	display: inline-block;
	vertical-align: top;
}

.hazards-view-container {
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 50px;
	background: #ecf0f1;
	border: solid thick #fff;
	border-top: none;
}

.hazard-list-container {
	width: 35%;
	margin-left: 10%;
	border: solid thick #BCEDFB;
	background-color: #fff;
	border-radius: 10px;
}

.hazard-list-container h1 {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	color: #D53C2C;
	font-size: 50px;
}

.haz-list li >* {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.haz-list li {
	list-style-type: none;
	font-size: 16px;
	width: 100%;
}

.haz-list i {
	font-size: 24px;
	margin-left: 5%;
}

.haz-list p {
	font-size: 16px;
	color: #22313F;
	font-family: 'Bitter', serif;
}

.marker i {
	color: #D53C2C;
}
